.footer {
  width: 100%;
  padding: 20px 0;
  background-color: black;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Responsive */
@media (max-width: 600px) {
  .footer p {
    font-size: 13px;
  }
}
