.navbar {
  width: 100%;
  height: 54px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff; 
  color: #000000;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 4px 18px rgba(12, 20, 30, 0.06);
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav-l {
  display: flex;
  align-items: center;
  
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.icon img {
  width: 40px;          /* adjust size if needed */
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.app-name  {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.app-name  img {
  width: 250px;          /* adjust size if needed */
  /* height: 250px; */
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.login-btn {
  background: #000000; 
  
  color: #ffffff; 
  border: none;
  padding: 8px 11px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.18s ease;
}

.login-btn:hover {
  background: #222222;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(34, 34, 34, 0.14);
}

.menu-toggle {
  display: none;           
  font-size: 24px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;    
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 16px;
  }

  .app-name {
    font-size: 18px;
  }

  .login-btn {
    padding: 8px 18px;
    font-size: 14px;
  }

  .menu-toggle {
    display: block;
  }
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

