* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
   box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav-l {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: red;
  font-size: 20px;
}

.app-name {
  font-size: 20px;
  font-weight: 600;
  color: #111111;
}

.login-btn {
  background: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #cc0000;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.3);
}

.menu-toggle {
  display: none;           /* desktop: hide */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;    /* above sidebar */
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 16px;
  }

  .app-name {
    font-size: 18px;
  }

  .login-btn {
    padding: 8px 18px;
    font-size: 14px;
  }

  .menu-toggle {
    display: block;
  }
}

