.sidebar {
  width: 200px;
  height: calc(102.9vh - 128px); 
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 10;
  
}

.mobile-only {
  display: none;
}

.sidebar-content {
  padding: 2rem;
}

.sidebar-item {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-item:hover {
  color: #3a9c5a;
}

.close-btn {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .sidebar {
    width: 240px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }
}
